<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <div class="col-md-12 col-12 main_header_right align-items-center">
                        <figure class="errorimg">
                            <img src="images/404.gif" alt="amit" class="img-fluid" title="amit">
                        </figure>
                        <h1 id="errorMessage"><span class="txt_clr">{{errorMessage}}</span></h1>
                        <a href="/"><button>Go back</button></a>
                    </div>
                         
                </div>
                </div>
            </div>
        </div>
    </div>
  {{>footer}}
</body>

</html>