<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right ">
                        <p>Welcome to Weather app</p>
                        <h1>I am <span class="txt_clr">Amit Adhikari</span> .I am a web Developer.</h1>
                        <a href="https://adhikari-amit.github.io/hello/" target="_"><button>About Me</button></a>
                    </div>
                    <div class="col-md-6 col-12 main_header_left align-items-center">
                        <figure>
                            <img src="images/me2.png" alt="amit" class="img-fluid" title="amit">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {{>footer}}
</body>

</html>